body {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 12rem;
  color: white;

}

.login {
  width: 500px;
  height: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  border-radius: 1rem;
  border: 1px solid aliceblue;
  background-color: rgb(10, 7, 7);
}

.input {
  width: 100%;
  outline: none;
  margin-bottom: 20px;
  font-size: 15px;
  background-color: transparent;
  border-radius: 8px;
  background: linear-gradient(black, black) padding-box, linear-gradient(to right, blue, rgb(218, 148, 20), red)border-box;
  border: 2px solid transparent;
  color: white;
  font-size: 15px;
  padding: 9px;
}



.login button {
  margin-left: 10%;
  width: 90%;
  padding: 5px;
  letter-spacing: 1px;
  border: 2px solid blueviolet;
  background-color: transparent;
  color: white;
  font-weight: 1000;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.login button:hover {
  background-color: blueviolet;
}

.login h5 {
  color: brown;
  font-size: 1rem;
  text-align: center;
  position: relative;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.login h5::after {
  content: '';
  position: absolute;
  background-color: blue;
  height: 2px;
  bottom: 0;
  left: 10px;
  top: 20px;
  width: 90%;
}

.login {
  flex-direction: column;
}

.login a {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.login a h3 {
  border: 1px solid aliceblue;
  padding: 4px;
  width: 70%;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s;
  font-weight: 500;
}

.login a h3:hover {
  background-color: aliceblue;
  color: black;
}

.create-form {
  display: none;
}