body{
     align-items: center;
     justify-content: center;
     display: flex;
     margin-top: 12rem;
     color: white;
     color: ;
       background-color: rgb(44, 38, 38);
}

.login{
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
    border-radius: 1rem;
    border: 1px solid aliceblue;
}

 .input{
    width: 110%;
    outline: none;
    margin-bottom: 20px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    padding: 5px;
 }

 .login  button{
   margin-left: 10%;
   width: 90%;
   padding: 4px;
   background-color: rgb(40, 40, 190);
   border: none;
   border-radius: 7px;
   cursor: pointer;
    
 }

 .login:hover{
  opacity: 0.6;
 }

.login h5{
  color: brown;
  font-size: 1rem;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.login h5::after{
  content: '';
  position: absolute;
  background-color: blue;
  height: 2px;
  bottom: 0;
  left: 24px;
  top: 20px;
  width: 70%;
}

.login{
  flex-direction: column;
}

.login a{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.login a h3{
   border: 1px solid black;
   padding: 4px;
   width: 50%;
   text-align: center;
   border-radius: 8px;
   transition: 0.5s;
}

.login a h3:hover{
     background-color: black;
}

 .create-form{
  display: none;
 }