@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    /* border:1px solid red; */
}

:root {
    --gold: rgb(245, 166, 19);
}

body {
    background-color: rgba(238, 231, 231, 0.979);
    transition: background-color 0.3s ease-in;
}

.btn-white {
    color: white;
}


/* ----------------------------change color--------------- */

body.black {
    background-color: #000000ee;
    color: white;
}

/* --------------------------------------header---------------------------------------- */

.home-page header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 14vh;
}

.home-page header h1 {
    color: var(--gold);
    font-size: 2.5rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

.home-page header ul {
    display: flex;
}

.home-page header ul li {
    list-style: none;
    padding: 20px;

}

.home-page header ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: olivedrab;
    font-weight: 1000;
    position: relative;
}

.home-page header ul li a::after {
    content: '';
    width: 0%;
    background: green;
    height: 2px;
    left: 0;
    bottom: -4px;
    position: absolute;
    transition: 0.5s;
}

.home-page header ul li a:hover::after {
    width: 100%;
    cursor: pointer;
}

.home-page header ul li a:hover {
    color: brown;
}


header h1 i {
    font-size:  48px;
    color: black;
    cursor: pointer;
}

.home-page .bag {
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    font-size: 1rem;
    padding-right: 30px;
}


.home-page .bag p {
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 8px;
    padding: 10px;
    color: brown;
    transition: 0.3s all;
}


.home-page .bag p span {
    color: brown;
    font-weight: 800;
    margin-right: 5px;
}

.home-page .bag p:hover {
    background-color: blue;
    color: white;
}
.home-page header .bag i {
    position: relative;
}

.home-page header .bag i .bag-value {
    position: absolute;
    font-size: 0.76rem;
    font-weight: 350;
    height: 13px;
    text-align: center;
    border-radius: 40%;
    line-height: 13px;
    color: black;
    background-color: rgba(14, 233, 14, 0.473);
    width: 12px;
}

.home-page header .bag #slider {
    display: none;
}

.home-page header .bag #slid {
    display: none;
}

a{
    text-decoration: none;
}

/* ------------------------------------------------------------------first section-------------------------------------- */
.font-page {
    display: flex;
    justify-content: center;
}

.btn {
    text-decoration: none;
    border: 1.5px solid rgb(13, 78, 13);
    padding: 5px;
    border-radius: 8px;
    color: brown;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 2rem;
}

.btn:hover {
    background-color: green;
    color: white;
}

.font-page .image-continer img {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
}

.content {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.content h1 {
    font-size: 3.2rem;
    color: rebeccapurple;
}

.content h1 span {
    color: goldenrod;
}

.content p {
    font-size: 1.1rem;
    font-weight: 600;
}

.font-page .content h2 {
    color: brown;
    padding-bottom: 2.5rem;
}


/* ------------------------------------------------------second section-------------------------------------------------- */

.second-section .service {
    text-align: center;
    padding-top: 10rem;
}

.second-section .service h3 {
    color: goldenrod;
    padding: 4px;
}

.second-section .service h2 {
    color: brown;
}

.second-section .service-card .card h4 {
    color: rgb(0, 119, 255);
    text-transform: uppercase;
    margin: 10px 0;
}

.second-section .service-card .card p {
    color: green;
    font-size: 1rem;
}

.second-section .service-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 4rem 20px;
}

.second-section .service .card {
    margin: 0 10px;
}



/* -------------------------------------third section--------------------------------------------------------- */

.menu {
    padding-top: 8rem;
}

.menu .menu-head {
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
}

.menu .menu-head h3 {
    color: goldenrod;
    padding: 8px 0;
}

.menu .menu-head h1 {
    color: brown;
    font-size: 1.5rem;
}

.btn{
    cursor: pointer;
}

.item-image img {
    width: 10rem;
    filter: drop-shadow(rgb(70, 65, 65)  4px 5px);
}

.menu-list {
    text-align: center;
    padding-bottom: 5rem;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px;
    padding: 0 55px;
    padding-bottom: 10rem;
}

.item {
    background-color: rgb(233, 234, 245);
    margin-bottom: 20px;
    border-radius: 1rem;
    box-shadow: 4px 4px 10px rgb(78, 83, 87), -4px -4px 10px rgb(78, 83, 87);
    height: 100%;
    transition: 0.5s;
}

.item:hover {
    transform: translateY(-5px);
}


/* -----------------------------------------card item----------------------------------------- */


.list-tab{
    background-color:  lightblue;
    position: fixed;
    inset: 0 0 0 auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0;
    overflow: auto;
    box-shadow: -5px -5px 30px rgb(9, 9, 201);
}

.list-card{
    flex: 1;
    width: 100%;
    display: flex;
    padding-bottom: 2rem;
    background-color: aliceblue;
    margin: 4px 5px;
    border-radius: 1rem;
}
.list-tab h3{
    font-size: 1.8rem;
}

.list-card .list-img{
     padding-left: 25px;
}

.list-card .list-img img{
    width: 8rem;
}

.list-card .list-about h4{
    color: black;
    text-align: center;
    font-weight: 1000;
    
}

.list-card .list-about{
    padding: 30px 20px;
}

 .list-card .action{
      display: flex;
       padding-left: 45px;
       padding-top: 40px;
       gap: 20px;
 }

 .list-card .action i{
      background-color: red;
      width: 25px;
      text-align: center;
      height: 25px;
      cursor: pointer;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      display: flex ;
 }
.list-card .action h4{
    font-size: 1.4rem;
    color: darkred;
}
.list-tab h2{
    background-color: black;
    color: aliceblue;
    padding: 10px 0;
    margin-top: 1rem;
    font-size: 1rem;
    word-spacing: 1.5px;
    font-weight: 1000;
}

.list-tab .other-item .card-btn .card{
      margin: 5px 20px;
     padding: 7px;
      width: 100px;
      border: 1px solid blueviolet;
      background-color: transparent;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 700;
      transition: 0.5s all;
}

.list-tab .other-item .card-btn{
    padding-top: 1rem;
}

.list-tab .other-item .card-btn .card:hover{
           background-color: blueviolet;
           color: aliceblue;
}


.list-tab{
    display: none;
}

/* --------------------------------------------------section four--------------------------------- */

.fourth-section {
    display: flex;
}

.fourth-one   img {
    display: block;
    margin: auto;
    padding: auto;
    filter: drop-shadow(#000 0 30px 30px);
    width: 100%;
}

.review{
     min-height: 300px;
}

.fourth-section .review {
    width: 100%;
}
 
.fourth-two{
    padding-top: 3rem;
}

.fourth-section .review h5 {
    padding: 5px 15px;
    font-size: 1rem;
    color: goldenrod;
}

.fourth-section .review h2 {
    color: brown;
    font-size: 2rem;
}
.man{
    width: 5rem;
    margin-right: 140px;
}

.fourth-section .fourth-one img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.review .content-review .about h4 {
    color: brown;
    padding: 10px 0px;
}

.review .content-review .about i {
    color: yellow;
    padding-bottom: 20px;
}

.review .content-review .about p {
    color: green;
    width: 85%;
    flex-wrap: wrap;
    padding-left: 2px;
    font-size: 15px;
    letter-spacing: 1px;
}

.next {
    padding: 20px 20px;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.next i{
    background-color: brown;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

#log-out{
    display: none;
}



/* --------------------------------------------------------fifth section------------------------------------------------------- */

.fiftn-continer{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10rem;
    width: 100%;
    height: 100%;
    padding-bottom: 10rem;
}

.fifth{
      width: 80%;
      border-radius: 1rem;
      padding: 10px;
      text-align: center;
      justify-content: center;
      display: flex;
      height: auto;
    padding: 50px;
    background-color:  rgb(218, 193, 147);
}



.fifth .fifth-img img{
         width: 20rem;
}

.fifth .fifth-about h4{
      padding: 10px;
      color: gold;
      font-size: 1.1rem;
      gap: 20px;
      letter-spacing: 2px;
}

.fifth .fifth-about h1{
    color: brown;
    padding: 4px;
    letter-spacing: 1.2px;
}

.fifth .fifth-about p{
    padding-top: 15px;   
    color: rgb(62, 151, 228);
    font-weight: 1000;
}

.fifth .fifth-about .get{
    margin-top: 2rem;
    width: 50%;
    border-radius: 8px;
    outline: none;
    border: 1px solid aquamarine;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 5px;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.fifth .fifth-about .get:hover{
    background-color: aquamarine;
}



 /* -- --------------------------------------------------------sixth section---------------------------------------------  */


.sixth{
    padding-top: 3rem;
    text-align: center;
}

.sixth .sixth-section h3{
     padding: 5px;
     color: var(--gold);
     letter-spacing: 2px;
}

.sixth .sixth-section h1{
    color: brown;
    padding: 10px;
    letter-spacing: 1.5px;
    font-weight: 1000;
    font-size: 2.5rem;
}

.sixth .sixth-section p{
    color: rgb(39, 179, 63);
    padding: 15px;
    font-weight: 500;
}

.sixth .sixth-section form{
    display: flex;
     margin-top: 5rem;
     padding: 10px;
     margin-bottom: 5rem;
    background-color: rgb(194, 208, 212);
    width: 350px;
    border-radius: 8px;
}

.sixth .sixth-section .form{
    align-items: center;
    justify-content: center;
    display: flex;
}

.sixth .sixth-section form{
           box-shadow: 2px 3px 8px rgb(119, 96, 96),2px 3px 8px rgb(119, 96, 96) inset;
}

.sixth .sixth-section form input{
    background-color: transparent;
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
    color: brown;
}

.sixth .sixth-section .form button{
    color: rgb(241, 249, 255);
    font-weight: 1000;
    padding: 7px;
    background-color: transparent;
    border:  1px solid orange;
    border-radius: 8px;
    box-shadow: 2px 3px 7px rgb(160, 107, 107),2px 3px 7px rgb(160, 107, 107) inset;
    cursor: pointer;
}

.sixth .sixth-section .form button:hover{
    background-color: orange;
     
}