@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    /* border: 1px solid red; */
}

:root{
    --gold : rgb(245, 166, 19);
}

body{
    background-color: rgba(238, 231, 231, 0.979);
    transition: background-color 0.3s ease-in;
}

.btn-white{
    color: white;
}


/* ----------------------------change color--------------- */

body.black{
    background-color: #000000ee;
    color: white;
}

 /* --------------------------------------header---------------------------------------- */

.home-page header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 14vh;
}

.home-page header h1{
    color: var(--gold);
    font-size: 2.5rem;
     display: flex;
     gap: 10px;
     align-items: center;
}

.home-page header ul{
    display: flex;
}

.home-page header ul li{
    list-style: none;
    padding: 20px;
   
}

.home-page header ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    color: olivedrab    ;
    font-weight: 1000;
    position: relative;
}

.home-page header ul li a::after{
    content: '';
    width: 0%;
    background: green;
    height: 2px;
    left: 0;
    bottom: -4px;
    position: absolute;
    transition: 0.5s;
}

.home-page header ul li a:hover::after{
    width: 100%;
    cursor: pointer;
}

.home-page header ul li a:hover{
    color: brown;
}


header h1 i{
    font-size: 50px;
    color: black;
    cursor: pointer;
}

.home-page .bag {
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    font-size: 1rem;
    padding-right: 30px;
}
 

.home-page .bag p{
     background-color: rgba(221, 19, 19, 0.904);
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s all;
}

 .home-page .bag p span{
       color: #fff;
       font-weight: 500;
       margin-right: 5px;
 }

 .home-page .bag p:hover{
     background-color: blue;
 }

.home-page header .bag i{
    position: relative;
    font-size: 1.3rem;
}

 .home-page header .bag i .bag-value{
     position: absolute;
     font-size: 0.76rem;
     font-weight: 350;
     height: 13px;
     text-align: center;
     border-radius: 40%;
     line-height: 13px;
     color: black;
     background-color: rgba(14, 233, 14, 0.473);
     width: 12px;
 }

 .home-page header .bag #slider{
    display: none;
 }
  
 .home-page header .bag #slid{
    display: none;
 }

 
.font-page{
    min-height: calc(100vh - 14vh);
    display: flex;
    justify-content: center;

}
 
.btn{
    text-decoration: none;
    border: 2px solid green;
    padding: 5px;
    border-radius: 8px;
    color: brown;
     
}
 
.btn:hover{
    background-color: green;
    color: white;
}

img{
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
}

.image-continer{
    flex-wrap: wrap;
    flex-basis: 1000px;
}

.content{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.content h1{
    font-size: 3.2rem;
    color: rebeccapurple;
}

.content h1 span{
    color: goldenrod;
}

.content p{
    font-size: 1.1rem;
    font-weight: 600;
}

 